h1{
    text-align: center;
    font-weight: bolder;
    color: black;
}
p{
    text-align: center;
    font-weight: 100;
}
a{
    text-decoration: none;
    text-align: center;
    justify-content: space-between;
}