h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
p{
    text-align: center;
    color: black;
}
a{
    text-align: center;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}