body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container{
    background-color: whitesmoke;
    color: black;
    margin: 50px auto;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    width: 400px;
}
.form-container h1{
    font-weight: bold;
}
.form-group label{
    display: block;
    margin: 15px auto;
}
.btn{
    cursor: pointer;
}