body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.form-container{
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
    padding: 25px;
    width: 400px;
    margin: 50px auto;
}
.form-container h1{
    text-align: center;
    font-weight: bolder;
}
.form-container p{
    text-align: center;
    
}
.form-group label{
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}
.btn{
    background-color: antiquewhite;
    text-align: center;
    cursor: pointer;
}
p{
    text-align: center;
}
a{
    text-align: center;
}
